<!-- <p>player-search works!</p> -->

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Player Search</h2>
    </div>

    <div class="card-body">

         <form>
             <div class="form-group">
                 <label>Name:</label>
                 <input [(ngModel)]="name" name="name" class="form-control">
             </div>

             <div class="form-group">
             <button
                 [disabled]="!name"
                 (click)="search()"
                 class="btn btn-default">
                 Search
            </button>
            </div>
        </form>

    </div>
</div>


<div class="card" *ngIf="players.length">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Citizenship</th>
                <th>Elo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of players"
                [class.table-active]="p === selectedPlayer">
                <td>
                    <span class="badge badge-pill badge-info">
                        {{ p.id }}
                    </span>
                </td>
                <td>{{ p.name }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.citizenship }}</td>
                <td>{{ p.elo }}</td>
                <td>
                    <button
                        (click)="selectCreat(p)"
                        (click)="select(p)"
                        class="btn btn-info btn-sm"
                        style="min-width: 85px">
                        Create
                    </button>
                    <br><br>
                    <button
                    (click)="selectUpdate(p)"
                    (click)="select(p)"
                    class="btn btn-info btn-sm"
                    style="min-width: 85px">
                    Update
                </button>
                    <br><br>
                    <button
                        (click)="select(p)"
                        (click)="selectDelete()"
                        (click)="delete()"
                        class="btn btn-info btn-sm"
                        style="min-width: 85px">
                        Delete
                    </button>
                </td>
            </tr>
        <tbody>
    </table>

</div>

<!-- <div class="card">
    <div class="card-body">
        <pre>{{ selectedPlayer | json }}</pre>
    </div>
</div> -->


<div class="card" *ngIf="IsUpdate || IsCreate || IsDelete">
    <div class="card-body">
        <div>
           {{ message }}
        </div>
    </div>
</div>

<div class="card" *ngIf="selectedPlayerCreat">
    <div class="card-header">
      <h2 class="card-title">Player Create</h2>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
            <label>Id</label>
            <input [(ngModel)]="selectedPlayer!.id" name="id" class="form-control">
        </div>

        <div class="form-group">
            <label>Name</label>
            <input [(ngModel)]="selectedPlayer!.name" name="name" class="form-control">
        </div>

        <div class="form-group">
            <label>Adresse</label>
            <input [(ngModel)]="selectedPlayer!.address" name="address" class="form-control">
        </div>

        <div class="form-group">
            <label>Citizenship</label>
            <input [(ngModel)]="selectedPlayer!.citizenship" name="citizenship" class="form-control">
        </div>

        <div class="form-group">
            <label>Elo</label>
            <input [(ngModel)]="selectedPlayer!.elo" name="elo" class="form-control">
        </div>

        <div class="form-group">
            <button (click)="save()" class="btn btn-default">Creat</button>
        </div>

    </form>

    </div>
  </div>

  <div class="card" *ngIf="selectedPlayerUpdate">
    <div class="card-header">
      <h2 class="card-title">Player Update</h2>
    </div>
    <div class="card-body">

      <form>
        <div class="form-group">
            <label>Id</label>
            <input [(ngModel)]="selectedPlayer!.id" name="id" class="form-control">
        </div>

        <div class="form-group">
            <label>Name</label>
            <input [(ngModel)]="selectedPlayer!.name" name="name" class="form-control">
        </div>

        <div class="form-group">
            <label>Adresse</label>
            <input [(ngModel)]="selectedPlayer!.address" name="address" class="form-control">
        </div>

        <div class="form-group">
            <label>Citizenship</label>
            <input [(ngModel)]="selectedPlayer!.citizenship" name="citizenship" class="form-control">
        </div>

        <div class="form-group">
            <label>Elo</label>
            <input [(ngModel)]="selectedPlayer!.elo" name="elo" class="form-control">
        </div>

        <div class="form-group">
            <button (click)="update()" class="btn btn-default">Save Update</button>
        </div>

    </form>

    </div>
  </div>




