<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://angulararchitects.io" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular2-logo.png" />
      </div>
    </a>
    <a href="http://angulararchitects.io" class="simple-text logo-normal">
      Chess Search
    </a>
  </div>
  <ul class="nav">
    <li class="active">
      <a routerLink="home">
        <i class="nc-icon nc-bank"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="location-search">
        <i class="nc-icon nc-send"></i>
        <p>Location</p>
      </a>
    </li>

    <li>
      <a routerLink="player-search">
        <i class="nc-icon nc-single-02"></i>
        <p>Player</p>
      </a>
    </li>

    <!-- <li routerLinkActive="active">
      <a>
        <i class="nc-icon nc-cart-simple"></i>
        <p>Basket</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a>
        <i class="nc-icon nc-simple-remove"></i>
        <p>Hide Basket</p>
      </a>
    </li> -->
  </ul>
</div>
